
.settings-manager {
  .title {
    text-decoration: underline;
  }
  input.ng-invalid {
    background-color: #fea;
  }
  form {
    margin-bottom: 0;
  }
}

.setting-radio label {
  display: block;

  .label {
    margin-left: 5px;
  }
}

.setting-bool input {
  width: 100%;
}
  

