.settings-manager
  .page(data-ng-repeat='page in pages')
    .title {{page.title}}
    .setting-form(data-ng-repeat='setting in page.settings', ng-class='setting.name')
      form(name='setting-form')
        .setting(data-setting='setting')
  
